{% load static %}
    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html">
                            <img src="{% static 'cust/img/crazy.png' %}" alt="" width="98" height="40">
                        </a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="./index.html">Home</a></li>
                            <li><a href="#">Category</a>
                                <ul class="dropdown">
                                        {% for category in links %}
                                    <li>
                                        <a href="{{ category.get_url }}">{{ category.category_name }}</a>
                                    </li>
                                        {% endfor %}
                                </ul>
                            </li>
                            <li><a href="./shop.html">Shop</a></li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                            {% if user.id is None %}
                            <a href="{% url 'login' %}">Login</a>
                            <a href="{% url 'register' %}">Register</a>
                            {% else %}
                                {% if user.id == user.is_superadmin %}
                            <li><a href="{% url 'admin_home' %}"> <i class="fa-solid fa-users"></i> </span>
                                <div class="tip"></div>
                            </a></li>
                             <a href="{% url 'logout' %}"> <i class="fas fa-sign-out-alt u-s-m-r-8"></i> </a>
                                {% else %}
                            <a href="{% url 'logout' %}"> <i class="fas fa-sign-out-alt u-s-m-r-8"></i> </a>
                                {% endif %}
                            {% endif %}
                        </div>
                        <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                            <li><a href="#"><span class="icon_heart_alt"></span>
                            </a></li>
                            <li><a href="{% url 'cart' %}"><span class="icon_bag_alt"></span>
                                <div class="tip">{{ cart_count }}</div>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->




