{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Crazy shop">
    <meta name="keywords" content="Crazy, shop, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CrazyShop</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'cust/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'cust/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'cust/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'cust/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'cust/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'cust/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'cust/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'cust/css/style.css' %}" type="text/css">
</head>
<body>

<!-- Page Preloder
    <div id="preloder">
        <div class="loader"></div>
    </div>
-->
    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                <div class="tip">2</div>
            </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                <div class="tip">2</div>
            </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

<!-- include header -->
{% include 'includes/navbar.html' %}

{% block content %}

{% endblock %}

{% include 'includes/footer.html' %}

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form" action="{% url 'search' %}" method="GET">
            <input type="text" id="search-input" placeholder="Search here....." name= "keyword">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="{% static 'cust/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'cust/js/bootstrap.min.js' %}"></script>
<script src="{% static 'cust/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'cust/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'cust/js/mixitup.min.js' %}"></script>
<script src="{% static 'cust/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'cust/js/jquery.slicknav.js' %}"></script>
<script src="{% static 'cust/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'cust/js/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'cust/js/main.js' %}"></script>
</body>

</html>