{% extends 'base.html' %}

{% load static %}


{% block content %}


    <!-- Page Introduction Wrapper -->
    <div class="page-style-a">
        <div class="container">
            <div class="page-intro">
                <h2>Checkout</h2>
                <ul class="bread-crumb">
                    <li class="has-separator">
                        <i class="ion ion-md-home"></i>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="is-marked">
                        <a href="#">Checkout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Page Introduction Wrapper /- -->
    <!-- Checkout-Page -->
    <div class="page-checkout u-s-p-t-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">

                        <div class="row">
                            <!-- Billing-&-Shipping-Details -->
                            <div class="col-lg-6">
                                <h4 class="section-h4">Billing Details</h4>
                                <!-- Form-Fields -->
                    <form action="{% url 'place_order' %}" method="POST">
                            {% csrf_token %}
                                <div class="group-inline u-s-m-b-13">
                                    <div class="group-1 u-s-p-r-16">
                                        <label for="">First Name
                                            <span class="astk">*</span>
                                        </label>
                                        <input type="text" name = "first_name" class="form-control" required>
                                    </div>
                                    <div class="group-2">
                                        <label for="">Last Name
                                            <span class="astk">*</span>
                                        </label>
                                        <input type="text" name ="last_name" class="form-control" required>
                                    </div>
                                </div>
                                <div class="u-s-m-b-13">
                                    <label for="">Country
                                        <span class="astk">*</span>
                                    </label>
                                    <input type="text" name = "country" class="form-control" required>
                                </div>
                                <div class="street-address u-s-m-b-13">
                                    <label for="">Street Address
                                        <span class="astk">*</span>
                                    </label>
                                    <input type="text" name="address_line_1" class="form-control" placeholder="House name and street name">
                                    <label class="sr-only" for=""></label>
                                    <input type="text" name ="address_line_2" class="form-control" placeholder="Apartment, suite unit etc. (optional)">
                                </div>
                                <div class="u-s-m-b-13">
                                    <label for="">City
                                        <span class="astk">*</span>
                                    </label>
                                    <input type="text" name ="city" class="form-control">
                                </div>
                                <div class="u-s-m-b-13">
                                    <label for="">State
                                        <span class="astk"> *</span>
                                    </label>
                                     <input type="text" name = "state" class="form-control" required>
                                </div>
                                <div class="group-inline u-s-m-b-13">
                                    <div class="group-1 u-s-p-r-16">
                                        <label for="">Email address
                                            <span class="astk">*</span>
                                        </label>
                                        <input type="text" name="email" class="form-control" required>
                                    </div>
                                    <div class="group-2">
                                        <label for="">Phone
                                            <span class="astk">*</span>
                                        </label>
                                        <input type="text" name="phone" class="form-control" required>
                                    </div>
                                </div>
                                <div>
                                    <label for="">Order Notes</label>
                                    <input class="form-control" name="order_note" placeholder="Notes about your order, e.g. special notes for delivery."></input>
                                </div>
                            </div>
                            <!-- Billing-&-Shipping-Details /- -->
                            <!-- Checkout -->
                            <div class="col-lg-6">
                                <h4 class="section-h4">Your Order</h4>
                                <div class="order-table">
                                    <table class="u-s-m-b-13">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for cart_item in cart_items %}
                                            <tr>
                                                <td>
                                                    <div class="cart-anchor-image">
                                                      <a>
                                                        <img src="{{ cart_item.product.image.url }}" class="img-sm">
                                                      </a>
                                                    </div>
                                                    <h6 class="order-h6">{{ cart_item.product.product_name }}</h6>
                                                    <span class="order-span-quantity">x {{cart_item.quantity}}</span>
                                                </td>
                                                <td>
                                                    <h6 class="order-h6">$55.00</h6>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h3 class="order-h3">Subtotal</h3>
                                                </td>
                                                <td>
                                                    <h3 class="order-h3">$.{{ cart_item.sub_total}}</h3>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h3 class="order-h3">Tax</h3>
                                                </td>
                                                <td>
                                                    <h3 class="order-h3">${{ tax}}</h3>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h3 class="order-h3">Total</h3>
                                                </td>
                                                <td>
                                                    <h3 class="order-h3">${{ grand_total }}</h3>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <button name = "submit" type="submit" class="button button-outline-secondary">Place Order</button>
                                  </form>
                                </div>
                            </div>
                            <!-- Checkout /- -->
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout-Page /- -->


{% endblock %}